@import url('https://fonts.googleapis.com/css?family=Poller+One&display=swap');

body {
  font-family: 'Poller One', cursive;
  background-image: url('Images/sky.jpg');
  color: whitesmoke;
  background-attachment: fixed;
}

header, footer{
  background-color: rgba(60, 69, 67, 0.6);
}

.btn{
  background-color: rgba(204, 3, 35, 0.5)!important;
}

section.float-right.rounded-bottom{
  border-bottom-right-radius: 15px!important;
  border-bottom-left-radius: 15px!important;
}

header {
  border-radius: 15px 15px 0 0;
}

header h1 {
  letter-spacing: 0.2em;
}

footer {
  border-radius: 0 0 15px 15px;
  height: 5em;
}




